/*! Flickity v1.2.1
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}
/*-----*/

.hero-carousel {
  position: relative;
  margin-bottom: 5px;

  background-size: contain;

}

.hero-carousel__cell {
  width: 100%;
  height: 100vh;
  background: #ee0d5b;
  position: relative;
}

.hero-carousel__cell__content {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}

.hero-carousel__cell__content_first {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
}

.hero-carousel__cell--2 {
  background: #ee0d5b;

}



@media only screen and (max-height: 700px) {
  .hero-carousel__cell--2 {
    overflow:scroll;
  }


}
.hero-carousel__cell--3 {
  background: #088c9b;
}

.hero-carousel__cell--4 {
  background: #54158a;
}


@media screen and ( min-width: 500px ) {
  .hero-carousel__cell--1  .hero-carousel__cell__content {
    padding-right: 260px;
  }

}

/* ---- large device styles ---- */

@media screen and ( min-width: 760px ) {

  .hero-carousel__cell {
    height: 100vh;
  }

  .hero-carousel__cell__content {
    padding-top: 50px;
  }
  .hero-carousel__cell__content_first {
    padding-top: 80px;
  }

}

@media screen and ( min-width: 930px ) {

  .hero-carousel__cell {
    height: 100vh;
  }
    .hero-carousel__cell--1  .hero-carousel__cell__content {
    padding-right: 400px;
  }

}

@media screen and ( min-width: 1020px ) {

  .hero-carousel__cell {
    height: 100vh;
  }

}
